.swiper-button-next {
  right: 2.8125rem;
}

.swiper-button-prev {
  left: 2.8125rem;
}

.swiper-button-next:after, .swiper-button-prev:after {
  color: #FFBA08;
}

.swiper-pagination-bullet {
  width: 1rem;
  height: 1rem;
  background: #999999;
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background: #FFBA08; 
}

@media(max-width: 30em) {
  .swiper-button-next {
    right: 0.9375rem;
  }
  
  .swiper-button-prev {
    left: 0.9375rem;
  }
  
  .swiper-button-next:after, .swiper-button-prev:after {
    font-size: 1.2rem;
  }
  
  .swiper-pagination-bullet {
    width: 0.5rem;
    height: 0.5rem;
  }
}